<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Funcionarios</h3>
            <button (click)="GerarPDF()" class="btn btn-success">PDF</button> 
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">                      
                      <th>NOME</th>                      
                      <th>CPF</th>
                      <th>AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let func of funcionarios" class="text-center">                      
                      <td>{{func.nome_funcionario}}</td>                      
                      <td>{{func.cpf_funcionario}}</td> 
                      <td>
                        <button (click)="Editar(func)" class="btn btn-warning">Editar</button>
                        <button (click)="Deletar(func)" style="margin: 8px;" class="btn btn-danger">Deletar</button>
                        <button (click)="GerarPDFFuncionario(func)" class="btn btn-success">PDF</button>                         
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
</div>